* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}
.callout {
  background: white;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-left-color: yellow;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
  margin-bottom: 30px;
}

.answer {
  background-color: rgba(161, 219, 161, 0.445);
  margin-top: 10px;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  border: 1px solid rgb(161, 219, 161);
}
.btn {
  padding-left: 25px;
  padding-right: 25px;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
  color: #212529;
}
